
.titulo{
    margin-top: 2% ;
    margin-left: 9.5%;    
    color: black;
}

.botonesOnChange{
    margin-top: 1.7%;
    margin-left: 1%;
    color: white;
}

.father{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
