.botonesMenu{
    float: right;
    margin-top: 1.5%;
    /* margin-right: 3%; */
    width: 8%;
    height: 50px;
    color: white;
    background-color: black;
    border-color: black ;
}

.botonesMenu:hover{
    border-right-color: red;
    border-left-color: red;
}