
.Flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.tituloBusquedaCard{
    margin-left: 3%;
    margin-top: 2%;
    color: black;
}

.etiquetaCard{
   width: 15rem;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
   
}

.tituloDentroCard{
    height: 100px;
}

.cardBody{
    text-align: center;
}
.imagenesCard{
    width: 100%;
    height: 330px;
}



