.imagenesCarousel{
    margin-top: 5%;
    border-radius: 2%;
    height: 300px;
}

.imagenesCarousel:hover {
    transition: transform .25s;
    transform: scale(1.2);
}

.body{
    background-color: white;
    margin-right:10% ;
    margin-left: 10%;
}

.titulos{
    margin-top: 2% ;
    margin-left: 5%;
    color: black;
}
